/* You can add global styles to this file, and also import other style files */
.smallButton {
    width: 7em;
    margin: 0.15em;
    border: 0.03em solid darkblue;
    border-radius: 0.2em;
    background: lightcyan;
}

.background {
    background: rgb(220, 255, 220);
}