<html>
    <div id="createUserForm" align="center">
        <form [formGroup]="createUserForm">
            <input type="text" placeholder="username" formControlName="username">
            <input type="text" placeholder="first name" formControlName="fname">
            <input type="text" placeholder="last name" formControlName="lname">
            <input type="number" placeholder="age" formControlName="age">
            <button class="smallButton" (click)="addUser();">Create User</button>
        </form>
    </div>
    <div align="center">
        <button class="smallButton" (click) = "goToLogin();">Login</button>
    </div>
</html>
